<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <display-name>卒業制作</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>servlet.TopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignoutServlet</servlet-name>
    <servlet-class>servlet.SignoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order_HistoryServlet</servlet-name>
    <servlet-class>servlet.Order_HistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.api.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>servlet.CardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestLogin</servlet-name>
    <servlet-class>test.TestLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoriteServlet</servlet-name>
    <servlet-class>servlet.api.FavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/top</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignoutServlet</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order_HistoryServlet</servlet-name>
    <url-pattern>/order-history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/api/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestLogin</servlet-name>
    <url-pattern>/tesLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoriteServlet</servlet-name>
    <url-pattern>/api/favorite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>TopPageFilter</filter-name>
    <filter-class>filter.TopPageFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ScriptFilter</filter-name>
    <filter-class>filter.ScriptFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TopPageFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ScriptFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listener.BootListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CartPageServlet</display-name>
    <servlet-name>CartPageServlet</servlet-name>
    <servlet-class>servlet.CartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPageServlet</servlet-name>
    <url-pattern>/CartPageServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CartPageFilter</display-name>
    <filter-name>CartPageFilter</filter-name>
    <filter-class>filter.CartPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CartPageFilter</filter-name>
    <url-pattern>/CartPageFilter</url-pattern>
  </filter-mapping>
</web-app>